#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'sg'
# Root password
rootpw --iscrypted $default_password_crypted
# System timezone
timezone Europe/Zurich --isUtc --ntpservers=ch.pool.ch.org

# Use network installation
url --url=$tree
# System language
lang en_US
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx
eula --agreed

# Halt after installation
reboot
# System bootloader configuration
bootloader --location=mbr --append="net.ifnames=0 biosdevname=0"
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part /boot --asprimary --fstype="ext4" --size=300

volgroup vg01 pv.01
part pv.01 --size=1 --grow
logvol / --fstype ext4 --vgname=vg01 --size=500 --name=root
logvol /var --fstype ext4 --vgname=vg01 --size=500 --name=var
logvol /opt --fstype ext4 --vgname=vg01 --size=50 --name=opt
logvol /tmp --fstype ext4 --vgname=vg01 --size=1024 --name=tmp
logvol /srv --fstype ext4 --vgname=vg01 --size=50 --name=srv
logvol /usr --fstype ext4 --vgname=vg01 --size=3048 --name=usr
logvol /home --fstype ext4 --vgname=vg01 --size=100 --name=home
logvol swap --fstype swap --vgname=vg01 --size=2048 --name=swap


%packages --nobase
$SNIPPET('packages_arcade')
#$SNIPPET('func_install_if_enabled')
%end


%pre
$SNIPPET('log_ks_pre')
$SNIPPET('kickstart_start')
$SNIPPET('pre_install_network_config')
# Enable installation monitoring
#$SNIPPET('pre_anamon')
%end

%post --nochroot
$SNIPPET('log_ks_post_nochroot')
%end

%post
$SNIPPET('log_ks_post')
# Start yum configuration
$yum_config_stanza
# End yum configuration
$SNIPPET('post_install_kernel_options')
$SNIPPET('post_install_network_config')
#$SNIPPET('func_register_if_enabled')
#$SNIPPET('download_config_files')
#$SNIPPET('koan_environment')
#$SNIPPET('redhat_register')
$SNIPPET('cobbler_register')
$SNIPPET('post_arcade')
# Enable post-install boot notification
$SNIPPET('post_anamon')
# Start final steps
$SNIPPET('kickstart_done')
# End final steps
%end
